<header>
  <div class="container-fluid" style="padding:0;">
    <nav class="navbar navbar-expand-md navbar-dark bg-success justify-content-between">
      <a class="navbar-brand" href="/urls">TinyApp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/urls">My URLs</a>
          <a class="nav-item nav-link me-auto" href="/urls/new">Create New URL</a>
        </div>
          <% if (user === undefined) {%>
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="/register">Register</a>
              <a class="nav-item nav-link" href="/login">login</a>
            </div>
          <% } else { %>
            <div class="d-inline-flex">
              <h6 style="padding-right: 0.5rem; color: rgba(255,255,255,.5); margin: 0; padding-top: 0.5rem;">Logged in As: <%= user.email %></h6>
              <form method="POST" action="/logout">
                <button type="submit" class="btn btn-outline-dark">Logout</button>
              </form>
            </div>
          <% } %>
      </div>
    </nav>
  </div>
</header>